DOCTYPE html>
<html layout:decorate="~{layouts/default-layout}">
<head>
<title></title>
</head>
<body>
	<div layout:fragment="content">
		<h4>Holidays</h4>
		<table class="border text-center table">
			<thead class="border table-dark">
				<tr>
					<th class="border" scope="col" th:text="#{date}"></th>
					<th class="border" scope="col" th:text="#{rating}"></th>
					<th class="border" scope="col" th:text="#{review}"></th>
					<th class="border" scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="holiday : ${holidays}">
					<td class="border" th:text="${holiday.name}"></td>
					<td class="border" th:text="${holiday.localName}"></td>
					<td class="border" th:text="${holiday.name}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>
	 