<!DOCTYPE html>
<html layout:decorate="~{layouts/default-layout}">
<head>
<title>Update Email</title>
</head>
<body>
	<!--  TODO: Info on how to inherit layouts using th and apply it here -->
	<div layout:fragment="header"
		sec:authorize="hasAuthority('REGULAR_USER')">
		<h4>
			Hello <span th:text="${#authentication.getPrincipal().getUsername()}"></span>!
		</h4>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>

					<li><a class="nav-link" th:href="@{/update}">Update
							Account</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true"> Account </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="@{/update/{id}}">Update Email</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>
					<li><a class="nav-link" th:href="@{/logout}">Logout</a></li>

				</ul>
			</div>
		</nav>
	</div>

	<div layout:fragment="content">

		<br> <Br>
		<div style="width: 60%" align="left">

			<h1>Update Your Email</h1>

			<form th:object="${regularUserForm}"
				th:action="@{/user/regular-user/update/process}" method="post">

				<input type="hidden" th:field="*{user.id}" id="user.id"> <input
					type="hidden" th:field="*{id}" id="id">

			<div class="form-group">
	           <label for="user.email">Email</label> 
	           <input id="user.email" type="text" class="form-control" placeholder="Enter email"
	                   th:field="*{user.email}"/>
	                   
	            <p class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('user.email')}"
	               th:text="${#strings.listJoin(#fields.errors('user.email'), ', ')}" />
	             
	        </div>

				<button type="submit" class="btn btn-primary">Update Email</button>
				<button type="reset">Reset</button>
			</form>

		</div>
	</div>

</body>
</html>
