<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/admin-layout}">
<head>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>
<body>

	<div layout:fragment="content">

		<br>
		<Br>
		<div style="width: 60%" align="left">

			<h1>Update Your Email</h1>

			<form th:object="${regularUserForm}"
				th:action="@{/user/regular-user/update/process}" method="post">

				<input type="hidden" th:field="*{user.id}" id="user.id"> <input
					type="hidden" th:field="*{id}" id="id">

				<!-- 	        	        
	        <div class="form-group">
	          <label for="">Current Password</label>
	          <input id="user.password" class="form-control" type="text"
	                   th:field="*{user.password}"/>
	  		  <p class="alert alert-danger" th:if="${#fields.hasErrors('user.password')}"
	               th:text="${#strings.listJoin(#fields.errors('user.password'), ', ')}" />
	                
	          </div>
-->

				<div class="form-group">
					<label for="user.email">Email</label> <input id="user.email"
						type="text" class="form-control" placeholder="Enter email"
						th:field="*{user.email}" />

					<p class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('user.email')}"
						th:text="${#strings.listJoin(#fields.errors('user.email'), ', ')}" />

				</div>

				<button type="submit" class="btn btn-primary">Update
					Email</button>
				<button type="reset">Reset</button>
			</form>

		</div>
	</div>

</body>
</html>
