<!DOCTYPE html>
<html layout:decorate="~{layouts/default-layout}">
  <head>
    <title>Home</title>
  </head>
  <body>
    <div layout:fragment="content" class="text-center mt-8">
      <h1 class="mt-5"><em>Movie Rator</em></h1>
      <div class="container text-start my-4" style="max-width: 350px">
        <div>
          <h4>Search Movie</h4>
          <form action="#" th:action="@{/search-media}" method="GET">
            <div class="row my-2">
              <input
                type="text"
                name="searchTerm"
                th:value="${searchTerm}"
                required
                class="form-control"
                placeholder="Movie or series title"
              />
            </div>
            <div class="row my-2">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
        <div class="mt-4">
          <h4>Search Actor</h4>
          <form action="#" th:action="@{/search-actor}" method="GET">
            <div class="row my-2">
              <input
                type="text"
                name="searchTerm"
                required
                th:value="${searchTerm}"
                class="form-control"
                placeholder="Actor name"
              />
            </div>
            <div class="row my-2">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
