<!DOCTYPE html>
<html layout:decorate="~{layouts/default-layout}">
  <head>
    <title>Home</title>
  </head>
  <body>
    <div layout:fragment="content" class="text-center mt-8">
      <h1 class="mt-5"><em>Movie Rator</em></h1>
      <form action="#" th:action="@{/search}" method="GET" class="my-4 container" style="max-width: 350px">
        <div class="row my-2">
          <input type="text" name="searchTerm" th:value="${searchTerm}" class="form-control" placeholder="Movie or series title" />
        </div>
        <div class="row my-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>
